/* div sobreapp */
#sobreapp {
    background-color: #f5ec48;
    width:100%;
    height:100%;
}

/* div esquerda pagina */
#sobreapp #esquerda {
    float:left;
    border: 1px solid cornflowerblue;
    width:50%;
    height:100%;
}
/* div geral de Sobre o app */
#sobreapp #esquerda #infos-sobre {
    border: 1px solid;
    display:block;
    width:100%;
    height:50%;
    margin-top:150px;
    text-align:center;
}
/* div sobre o app */
#sobreapp #esquerda #infos-sobre #titulo-sobre h3{
    text-transform:uppercase;
    font-size:45px;
}
#sobreapp #esquerda #infos-sobre p{
    margin-top:20px;
}

/* div direita pagina */
#sobreapp #direita {
    float:right;
    border: 1px solid black;
    float:right;
    width:50%;
    height:100%;
    padding-top:40px;
}
/* div img na direita */
#sobreapp #direita img {
    position:relative;
    width:300px;
    height:545px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
