/* div sobreapp */
#sobreapp {
    background-color: #ffd95a;
    width:100%;
    height:100%;
}

/* div esquerda pagina */
#sobreapp #esquerda {
    float:left;
    width:50%;
    height:100%;
    padding-left:70px;
}
/* div geral de Sobre o app */
#sobreapp #esquerda #infos-sobre {
    display:block;
    width:100%;
    height:fit-content;
    margin-top:150px;
    text-align:center;
    padding-left:80px;
    padding-right:80px;
}
/* div sobre o app */
#sobreapp #esquerda #infos-sobre #titulo-sobre h3{
    text-transform:uppercase;
    font-size:45px;
    color: #3f5166
}
/* div esquerda paragrafo */
#sobreapp #esquerda #infos-sobre .paragraf{
    margin-top:20px;
    color: #8d96b1;
    font-size:20px;
}
/* div esquerda store */
#sobreapp #esquerda #infos-sobre #store {
    margin-top:60px;
}

/* div direita pagina */
#sobreapp #direita {
    float:right;
    float:right;
    width:50%;
    height:100%;
}
/* div img na direita */
#sobreapp #direita img {
    position:relative;
    width:308px;
    height:610px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
